<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/index.css">
    <script defer src="../js/main.js"></script>
    <title>Home</title>
</head>
<body>
    {{>header}}
    <h1>Kai zijn code is marginaal</h1>
    <form>
        <input type="text" placeholder="input hier jonge">
        <button id="input">GO!</button>
        <p id="message-1"></p>
        <p id="message-2"></p>
    </form>
    {{>footer}}
</body>
</html>